/Ejercicio_2/nbproject/private/
/Ejercicio_2/build/
/restaurantApp/build/
/ejemplo_exeptions/target/
/Ejercicio_ahorcado/target/
/Ejercicio_1/target/
/Revision_1parcial/target/
/Principal/target/
/game/target/
